<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/user/add_static/css/base.css}" rel="stylesheet"/>
    <link th:href="@{/user/add_static/css/vendor.css}" rel="stylesheet"/>
    <link th:href="@{/user/add_static/css/main.css}" rel="stylesheet"/>
</head>
<body>

<!--显示最多阅读6项-->
<!--<section class="s-extra" >-->

<!--    <div class="row">-->

<!--        <div class="col-seven md-six tab-full popular">-->
<!--            <h3>Popular Posts</h3>-->

<!--            <div class="block-1-2 block-m-full popular__posts"  >-->


<!--<th:block th:each="article :${articleList}">-->

<!--                <article class="col-block popular__post">-->
<!--                    <a th:href="${commons.permalink(article.id)}" class="popular__thumb">-->
<!--                        <img th:src="@{${commons.show_thumb(article)}}" alt="">-->
<!--                    </a>-->
<!--                    <h5 class="item-entry__title"><a style="color: black;font-size: 20px;" th:href="${commons.permalink(article.id)}" th:text="${article.title}" /></h5>-->
<!--                    <section class="popular__meta">-->
<!--                        <span class="popular__author"><span>By</span> <a href="#0">KKindom</a></span>-->
<!--                        <span class="popular__date"><span>on</span> <time datetime="2018-06-14">Jun 14, 2020</time></span>-->
<!--                    </section>-->
<!--                </article>-->
<!--</th:block>-->

<!--            </div> &lt;!&ndash; end popular_posts &ndash;&gt;-->
<!--        </div> &lt;!&ndash; end popular &ndash;&gt;-->

<!--        <div class="col-four md-six tab-full end">-->
<!--            <div class="row">-->
<!--                <div class="col-six md-six mob-full categories">-->
<!--                    <h3>我的娱乐</h3>-->

<!--                    <ul class="linklist">-->
<!--                        <li><a href="#0">Lifestyle</a></li>-->
<!--                        <li><a href="#0">Travel</a></li>-->
<!--                        <li><a href="#0">Recipes</a></li>-->
<!--                        <li><a href="#0">Management</a></li>-->
<!--                        <li><a href="#0">Health</a></li>-->
<!--                        <li><a href="#0">Creativity</a></li>-->
<!--                    </ul>-->
<!--                </div> &lt;!&ndash; end categories &ndash;&gt;-->

<!--                <div class="col-six md-six mob-full sitelinks">-->
<!--                    <h3>我的收藏</h3>-->

<!--                    <ul class="linklist">-->
<!--                        <li><a href="#0">Home</a></li>-->
<!--                        <li><a href="#0">Blog</a></li>-->
<!--                        <li><a href="#0">Styles</a></li>-->
<!--                        <li><a href="#0">About</a></li>-->
<!--                        <li><a href="#0">Contact</a></li>-->
<!--                        <li><a href="#0">Privacy Policy</a></li>-->
<!--                    </ul>-->
<!--                </div> &lt;!&ndash; end sitelinks &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div> &lt;!&ndash; end row &ndash;&gt;-->

<!--</section> &lt;!&ndash; end s-extra &ndash;&gt;-->
<footer class="s-footer" style="background: #0a6999">

    <div class="s-footer__main">
        <div class="row">

            <div class="col-six tab-full s-footer__about">

                <h4>关于我的博客</h4>

                <p>此网站是由kkindom自行组建的基于springboot框架，java语言编写的一个分享类博客网站，主要用于分享我生活中所学习到的知识和有趣的故事，范围包括娱乐，生活 学习等多方面.</p>

            </div> <!-- end s-footer__about -->

            <div class="col-six tab-full s-footer__subscribe">

                <h4>Our Newsletter</h4>

                <p>Sit vel delectus amet officiis repudiandae est voluptatem. Tempora maxime provident nisi et fuga et enim exercitationem ipsam. Culpa consequatur occaecati.</p>

                <div class="subscribe-form">
                    <form id="mc-form" class="group" novalidate="true">

                        <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">

                        <input type="submit" name="subscribe" value="Send">

                        <label for="mc-email" class="subscribe-message"></label>

                    </form>
                </div>

            </div> <!-- end s-footer__subscribe -->

        </div>
    </div> <!-- end s-footer__main -->

    <div class="s-footer__bottom">
        <div class="row">

            <div class="col-six">
                <ul class="footer-social">
                    <li>
                        <a href="#0"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>

            <div class="col-six">
                <div class="s-footer__copyright">
                        <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</span>
                </div>
            </div>

        </div>
    </div> <!-- end s-footer__bottom -->

    <div class="go-top">
        <a class="smoothscroll" title="Back to Top" href="#top"></a>
    </div>

</footer> <!-- end s-footer -->
<!-- s-extra
    ================================================== -->
</body>
</html>