<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org" th:fragment="header(title,keywords)">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title><th:block th:text="${title ?: '首页'}"></th:block></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <!-- 默认的header name是X-CSRF-TOKEN -->
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!-- favicons
    ================================================== -->
<!--    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">-->
<!--    <link rel="icon" href="favicon.ico" type="image/x-icon">-->



<!--    修改后的js与css存在add——static文件中-->

    <link th:href="@{/user/add_static/css/base.css}" rel="stylesheet"/>
    <link th:href="@{/user/add_static/css/vendor.css}" rel="stylesheet"/>
    <link th:href="@{/user/add_static/css/main.css}" rel="stylesheet"/>
    <script th:src="@{/user/add_static/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/assets/js/amazeui.min.js}"></script>
    <script th:src="@{/user/add_static/js/modernizr.js}"></script>
    <link th:href="@{/user/css/xcode.min.css}" rel="stylesheet"/>
    <script th:src="@{/back/js/base.js}"></script>
<!--    原页面css与js-->
<!--    <link rel="shortcut icon" th:href="@{/user/img/bloglogo.jpg}"/>-->
<!--    <link rel="apple-touch-icon" th:href="@{/user/img/apple-touch-icon.png}"/>-->




    <link th:href="@{/user/css/style.min.css}" rel="stylesheet"/>

    <link rel="stylesheet" th:href="@{/assets/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/app.css}"/>

</head>

<body id="top">

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header header .center-block" style="text-align: center">

        <div class="header__logo">
            <a class="logo" href="index.html">
                <img th:src="@{/user/add_static/images/logo.svg}" alt="Homepage">
            </a>
        </div> <!-- end header__logo -->
<!--        搜索框-->
        <a class="header__search-trigger" href="#0"></a>
        <div class="header__search">

            <form role="search"  class="header__search-form" th:action="@{/Search_All}" method="post">
                <label>
                    <span class="hide-content">Search for:</span>
                    <input type="search" class="search-field" placeholder="Type Keywords" value="" name="con" title="Search for:" autocomplete="off">
                    <input type="hidden" name="type"  value="2">
                </label>
                <input type="submit" class="search-submit" value="Search">
            </form>

            <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

        </div>  <!-- end header__search -->

        <!--        搜索框-->
        <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>
        <nav class="header__nav-wrap">

            <h2 class="header__nav-heading h6">Navigate to</h2>

            <ul class="header__nav" style="font-size: 15px">
                <li class="current" id="study"><a th:href="@{/page/1}" >我的首页</a></li>
                <li  id="ent">
                    <a href="#0"  th:href="@{/ent}" title="">我的娱乐</a>
                </li>
                <li class="has-children" id="life">
                    <a href="#0" title="">我的收藏</a>
                    <ul class="sub-menu" >
                        <li><a th:href="@{/collect_p}">图片</a></li>
                        <li><a th:href="@{/collect_w}">网站</a></li>
                    </ul>
                </li>
                <li id="back"><a  class="header-info" href="/admin">后台管理</a></li>
                <li><a href="page-about.html" title="" id="free">关于我的一切</a></li>
<li>
                <form name="logoutform" th:action="@{/logout}" method="post">
                <a  sec:authorize="isAnonymous()" th:href="@{/login}" >登录</a>
                <a  sec:authorize="isAuthenticated()" href="javascript:document.logoutform.submit();" >退出</a>
                </form>
</li>

            </ul> <!-- end header__nav -->

            <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

        </nav> <!-- end header__nav-wrap -->
    </header> <!-- s-header -->



    <script type="text/javascript">
var t_t;
        var start;
        var end;
        var time = 0;
        start = new Date();//用户进入时间
        $(document).ready(function() {
            $("#study").bind("click", function () {
                t_t=1;
               searchMember();
            });
            $("#ent").bind("click", function () {
                t_t=2;
                searchMember();
            });
            $("#free").bind("click", function () {
                t_t=3;
                searchMember();
            });
            $("#life").bind("click", function () {
                t_t=3;
                searchMember();
            });

        });
        $(function () {

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function(e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });

        });
        function searchMember() {
            end = new Date(); //用户退出时间
            time = end.getTime() - start.getTime();
            time = Math.ceil(time / 60000); //取的是秒并且化整


            // 获取<meta>标签中封装的_csrf信息
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var id=3;

                $.ajax({
                    type:'post',
                    url : '/admin/all/updata',
                    data: {time:time,type:t_t},
                    dataType: 'json',
                    beforeSend : function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function (result) {
                        if (result && result.success) {
                            console.log(result);
                            window.location.reload();
                        }
                    }
                });

        }
    </script>








<!--添加的js-->

    <script th:src="@{/user/add_static/js/plugins.js}"></script>
    <script th:src="@{/user/add_static/js/main.js}"></script>
</body>

</html>