<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的收藏——图片</title>
    <meta charset="UTF-8">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/user/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/user/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/user/css/slicknav.min.css"/>
    <link rel="stylesheet" href="/user/css/magnific-popup.css"/>
    <link rel="stylesheet" href="/user/css/owl.carousel.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/user/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/user/css/jquery-ui.css">
    <link rel="stylesheet" href="/user/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/user/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/user/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/user/css/aos.css">
    <link rel="stylesheet" href="/user/css/fancybox.min.css">
    <link rel="stylesheet" href="/user/css/style.css">
    <!-- Main Stylesheets -->



<!--    测试样式css-->

</head>
<div th:replace="/client/header2::header(null,null)" />
<br/>
<br/>
<br/>
<br/>
<body>
<div class="site-wrap">
<a  th:href="@{/collect_p/input}"><button type="button" class="btn  btn-primary waves-effect waves-light">上传图片</button></a>
文章分页显示
<section class="s-content">
    <div class="row entries-wrap wide">
        <div class="entries">
            <picture class="col-block" th:each="picture: ${pictures.list}">
                <div class="item-entry" data-aos="zoom-in">
                    <div class="item-entry__thumb">
                        <a  class="item-entry__thumb-link">
                            <img th:src="${picture.pictureaddress}" style="height: 183px;width: 330px">
                        </a>
                    </div>
                    <div class="item-entry__text">
                        <h1 class="item-entry__title"><a style="color: #0f9ae0;font-size: 20px;" th:text="${picture.picturedescription}" /></h1>
                        <p class="item-entry__date">收藏时间：</p>
                        <div class="item-entry__date">
                            <a href="single-standard.html" th:text="${picture.picturetime}"></a>
                        </div>
                    </div>
                </div>
            </picture>

        </div>
        <!-- 文章分页信息 -->
        <div class="am-pagination">
            <div th:replace="/comm/paging::pageNav_New3(${pictures},'上一页','下一页','p_page')" />
        </div>
    </div>
</section>








<!--&lt;!&ndash;测试样式&ndash;&gt;-->
<!--    <main class="main-content">-->
<!--        <div class="container-fluid photos">-->
<!--            <div class="row align-items-stretch">-->

<!--            <div class="col-6 col-md-6 col-lg-8" data-aos="fade-up">-->
<!--                <a href="single.html" class="d-block photo-item">-->
<!--                    <img src="collect_p/1.jpg" alt="Image" class="img-fluid">-->
<!--                    <div class="photo-text-more">-->
<!--                        <div class="photo-text-more">-->
<!--                            <h3 class="heading">Photos Title Here</h3>-->
<!--                            <span class="meta">42 Photos</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">-->
<!--                <a href="single.html" class="d-block photo-item">-->
<!--                    <img src="collect_p/2.jpg" alt="Image" class="img-fluid">-->
<!--                    <div class="photo-text-more">-->
<!--                        <div class="photo-text-more">-->
<!--                            <h3 class="heading">Photos Title Here</h3>-->
<!--                            <span class="meta">42 Photos</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </div>-->

<!--            <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up">-->
<!--                <a href="single.html" class="d-block photo-item">-->
<!--                    <img src="collect_p/3.jpg" alt="Image" class="img-fluid">-->
<!--                    <div class="photo-text-more">-->
<!--                        <h3 class="heading">Photos Title Here</h3>-->
<!--                        <span class="meta">42 Photos</span>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="200">-->
<!--                <a href="single.html" class="d-block photo-item">-->
<!--                    <img src="collect_p/4.jpg" alt="Image" class="img-fluid">-->
<!--                    <div class="photo-text-more">-->
<!--                        <div class="photo-text-more">-->
<!--                            <h3 class="heading">Photos Title Here</h3>-->
<!--                            <span class="meta">42 Photos</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">-->
<!--                <a href="single.html" class="d-block photo-item">-->
<!--                    <img src="collect_p/5.jpg" alt="Image" class="img-fluid">-->
<!--                    <div class="photo-text-more">-->
<!--                        <div class="photo-text-more">-->
<!--                            <h3 class="heading">Photos Title Here</h3>-->
<!--                            <span class="meta">42 Photos</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </div>-->



<!--            <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="">-->
<!--                <a href="single.html" class="d-block photo-item">-->
<!--                    <img src="collect_p/6.jpg" alt="Image" class="img-fluid">-->
<!--                    <div class="photo-text-more">-->
<!--                        <div class="photo-text-more">-->
<!--                            <h3 class="heading">Photos Title Here</h3>-->
<!--                            <span class="meta">42 Photos</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">-->
<!--                <a href="single.html" class="d-block photo-item">-->
<!--                    <img src="collect_p/7.jpg" alt="Image" class="img-fluid">-->
<!--                    <div class="photo-text-more">-->
<!--                        <div class="photo-text-more">-->
<!--                            <h3 class="heading">Photos Title Here</h3>-->
<!--                            <span class="meta">42 Photos</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </div>-->


<!--            <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="">-->
<!--                <a href="single.html" class="d-block photo-item">-->
<!--                    <img src="collect_p/8.jpg" alt="Image" class="img-fluid">-->
<!--                    <div class="photo-text-more">-->
<!--                        <div class="photo-text-more">-->
<!--                            <h3 class="heading">Photos Title Here</h3>-->
<!--                            <span class="meta">42 Photos</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">-->
<!--                <a href="single.html" class="d-block photo-item">-->
<!--                    <img src="collect_p/9.jpg" alt="Image" class="img-fluid">-->
<!--                    <div class="photo-text-more">-->
<!--                        <div class="photo-text-more">-->
<!--                            <h3 class="heading">Photos Title Here</h3>-->
<!--                            <span class="meta">42 Photos</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </div>-->



<!--        </div>-->

<!--        <div class="row justify-content-center">-->
<!--            <div class="col-md-12 text-center py-5">-->
<!--                <p>-->
<!--                    &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>-->
<!--                    &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</main>-->

<!--</div>-->



<a class="btn btn-default" href="#" role="button" style="position:fixed;right:0;bottom:0">
    回到顶部
</a>

</body>
<div th:replace="/client/footer_1::footer" />






<!--测试js-->


</html>