<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的收藏——图片</title>
    <meta charset="UTF-8">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/user/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/user/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/user/css/slicknav.min.css"/>
    <link rel="stylesheet" href="/user/css/magnific-popup.css"/>
    <link rel="stylesheet" href="/user/css/owl.carousel.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/user/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/user/css/jquery-ui.css">
    <link rel="stylesheet" href="/user/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/user/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/user/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/user/css/aos.css">
    <link rel="stylesheet" href="/user/css/fancybox.min.css">
    <link rel="stylesheet" href="/user/css/style.css">
    <!-- Main Stylesheets -->



<!--    测试样式css-->


</head>
<div th:replace="/client/header2::header(null,null)" />
<br/>
<br/>
<br/>
<body>

    <main class="main-content">
        <div class="container-fluid photos">
            <div class="row align-items-stretch" >
                <th:block th:each="picture: ${pictures.list}">
                <div class="col-4 col-md-4 col-lg-4" data-aos="fade-up">
                    <a href="single.html" class="d-block photo-item">
                        <img th:src="${picture.pictureaddress}" alt="Image" class="img-fluid">
                            <div class="photo-text-more">
                                <div class="photo-text-more">
                                    <h3 class="heading" th:text="${picture.picturedescription}"></h3>
                                    <span class="meta"  th:text="${picture.picturetime}"></span>
                                </div>
                            </div>
                    </a>
                </div>
                </th:block>
            </div>
        </div>
    </main>
<!--     文章分页信息-->
<!--    <div class="am-pagination">-->
        <div th:replace="/comm/paging::pageNav_New3(${pictures},'上一页','下一页','p_page')" />
<!--    </div>-->

<a class="btn btn-default" href="#" role="button" style="position:fixed;right:0;bottom:0">
    回到顶部
</a>
</body>
<div th:replace="/client/footer_1::footer" />
<!--测试js-->
<script type="text/javascript" script th:inline="javascript">
    $("input[name='type']").attr("value","6");
</script >

</html>