<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='上传新的图片',active='collect_p'">
<header th:replace="back/header::headerFragment(${title},${active})"></header>
<link th:href="@{/back/plugins/tagsinput/jquery.tagsinput.css}" rel="stylesheet"/>
<link th:href="@{/back/plugins/select2.dist.css/select2-bootstrap.css}" rel="stylesheet"/>
<link th:href="@{/back/plugins/toggles/toggles.css}" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
<link th:href="@{/back/plugins/mditor/css/mditor.min.css}" rel="stylesheet"/>
<link th:href="@{/back/plugins/dropzone/4.3.0/min/dropzone.min.css}" rel="stylesheet">
<script src="https://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
<script src="https://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="https://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
<style>

    #tags_addTag input {
        width: 100%;
    }

</style>
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body class="fixed-left" >
<div id="wrapper">
    <div th:replace="back/header::header-body"></div>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div id="picture">
                        <div class="col-sm-12">
                            <h2 class="page-title">
                                <th:block th:if="${null != contents}">
                                    编辑收藏图片信息
                                </th:block>
                                <th:block th:unless="${null != contents}">
                                    新建收藏图片
                                </th:block>
                            </h2>
                        </div>
                        <div class="col-md-12">
                            <form action="#" method="post" class="ui form"  id="P_form">
                                <input type="hidden" name="id"
                                       th:value="${contents!=null and contents.id!=null}?${contents.id}: ''" id="w_id"/>
                                <div class=" field">
                                    <div class="ui left labeled input m-margin-top">
                                        <label class="ui teal basic label">图片</label>
                                        <img id="headPic" th:src="${contents!=null and contents.pictureaddress !=null}?${contents.pictureaddress}: ''"  width="150px" height="150px" style="padding: 5px">
                                        <input id="upload" name="file" accept="image/*" type="file" style="display: none" required/>
                                        <button id="submit_btn" type="button" >上传图片测试</button>
                                    </div>
                                    <div class="ui left labeled input m-margin-top">
                                        <label class="ui teal basic label" for="description_w">描述</label>
                                        <textarea  style="margin: 0px -2.0125px 0px 0px; height: 247px;" id="description_w" name="picturedescription" th:text="${contents!=null and contents.picturedescription !=null}?${contents.picturedescription}: ''" required></textarea>
                                    </div>
                                </div>
                                <div class="ui error message"></div>
                                <br/>
                                <br/>
                                <br/>
                                <div class="ui right aligned container">
                                    <button class="ui button" th:href="@{/admin/collect}" type="button">返回</button>
                                    <button class="ui teal submit button" id="sub"" type="button">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div th:replace="back/footer :: footer-content"></div>
            </div>
        </div>
    </div></div>
</div>
<div th:replace="back/footer :: footer"></div>

<script th:src="@{/back/plugins/tagsinput/jquery.tagsinput.min.js}"></script>
<script th:src="@{/back/plugins/jquery-multi-select/jquery.quicksearch.js}"></script>
<script th:src="@{/back/plugins/multi-select/0.9.12/js/jquery.multi-select.min.js}"></script>
<script th:src="@{/back/plugins/select2/3.4.8/select2.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/jquery-toggles/2.0.4/toggles.min.js}"></script>
<script th:src="@{/back/plugins/dropzone/4.3.0/min/dropzone.min.js}"></script>
<script th:src="@{/user/add_static/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/user/add_static/js/ent_js/ajaxfileupload.js}"></script>
<script th:src="@{/back/js/base.js}"></script>
<script th:src="@{/back/js/entertainment.js}"></script>
<script type="text/javascript" script th:inline="javascript">
    //预览图片
    $(function() {
        //头像预览
        $("#headPic").click(function () {
            $("#upload").click(); //隐藏了input:file样式后，点击头像就可以本地上传
            $("#upload").on("change", function () {
                var objUrl = getObjectURL(this.files[0]); //获取图片的路径，该路径不是图片在本地的路径
                if (objUrl) {
                    $("#headPic").attr("src", objUrl); //将图片路径存入src中，显示出图片
                }
            });
        });
    });
    $("#selectmultiple").click(function () {
        var count = $("#selectmultiple option").length;
        for ( var i = 0; i < count; i++) {
            if ($("#selectmultiple ").get(0).options[i].selected == true) {
                var value=$("#selectmultiple").val();

                var add="<input type=\"hidden\" name=\"eid\"  value='"+value+"' />";
                $('#se').append(add);
                console.log($("#selectmultiple").val())
                break;
            }
        }
    });
    //编写表单验证函数validform，在验证按钮注册按钮点击事件内调用验证函数对象
    function validform(){
        /*关键在此增加了一个return，返回的是一个validate对象，这个对象有一个form方法，返回的是是否通过验证*/
        return $("#P_form").validate();
    }
    //注册表单验证
    $(validform());

    $("#sub").click(function(){
        if(validform().form()) {
            subPicture('publish');
        } else {
            //校验不通过，什么都不用做，校验信息已经正常显示在表单上
        }
    });
</script>
</body>
</html>