<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='管理中心',active='home'">
<header th:replace="back/header::headerFragment(${title},${active})"></header>
<body class="fixed-left">
<div id="wrapper">
    <div th:replace="back/header::header-body"></div>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">文章点击量排名</h4>
                        <div th:replace="back/pie :: pie-art"></div>
                    </div>

                    <div class="col-sm-12">
                        <h4 class="page-title">今日时间分配</h4>
                        <div th:replace="back/pie :: pie-time"></div>
                    </div>

                </div>


                </div>
                <div th:replace="back/footer :: footer-content"></div>
            </div>
        </div>
    </div>

<div th:replace="back/footer :: footer"></div>
<div th:replace="back/pie :: pie-content"></div>
</body>
</html>